/* COMMON STYLES ............................................................*/
body {
    font-family: 'Comfortaa', cursive !important;
}

/* Title Section ...........................................................*/
#title {
    background-color: #7882A4;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}