/* COMMON STYLES ............................................................*/
body {
  font-family: "Comfortaa", cursive !important;
  text-align: center;
}

h1,
h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

/* Heading .................................................................*/

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Container ................................................................*/

.container-fluid {
  padding: 7% 15%;
}

/* Sections ................................................................*/

.colored-section {
  background-color: #5f8096;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title Section ...........................................................*/

#title .container-fluid {
  padding: 3% 15% 12%;
  text-align: left;
}

.title-container {
  padding-bottom: 12%;
}

.row {
  position: relative;
}

/* Navigation bar ...............................................................*/
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-size: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.nav-item > a:after,
.nav-item > a.active:after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  background-color: #331364;
  margin-top: 2px;
  transition: 0.5s;
}

.nav-item > a.active:after {
  width: 100%;
}

.nav-item > a:hover:after {
  width: 100%;
}

/* download buttons */

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-img {
  width: 46%;
  transform: perspective(900px) rotateY(-15deg) rotateX(6deg);
  position: absolute;
}

/* Features Section .........................................................*/
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #8ca5b6;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #5f8096;
}

/* Testimonial section .......................................................*/

#testimonials {
  background-color: #8ca5b6;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* press section ...........................................................*/

#press {
  background-color: #8ca5b6;
  padding-bottom: 3%;
}

.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}

/* Pricing section ........................................................*/

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section ..........................................................*/

#cta {
  color: #fff;
}

.cta-para {
  font-size: 2rem;
  color: #fff;
}

/* Footer section .........................................................*/

.social-icon {
  margin: 20px 10px;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    width: 100%;
    transform: rotate(0);
  }
}
